.container-buscador{
    display: flex;
    flex-direction: column;
  

    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    background: rgba(0,0,0,.1);
    border-radius: 6px;
    border-top: 1px solid rgba(255,255,255,.5);
    padding: 6px;
    display: flex;
    justify-content: center;
    
}

input{
    display: flex;
    width: 97%;
    padding: 6px;
    border-radius: 6px;
    border-top: 1px solid rgba(255,255,255,.5);
    outline: none;
}


.container_categorias{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    overflow-x: auto;
    height: 46px;
    padding-left: 40px;
    width: 92%;
    gap: 1rem;
  }


@media (max-width: 575.98px) {
    .container-buscador{
        margin-top: 16px;
    }

   
}