.main{
    width: 70%;
    max-width: 70%;
    max-height: 100%;
    overflow: auto;
    padding: 0px 16px;
}

.master h2{
  font-family: 'Montserrat', sans-serif;
}
.master{
    width: 100%;
    max-width: 100%;
    max-height: calc(100% - 72px);
    height: calc(100% - 72px);  
   padding-top: 16px;
   overflow: auto;
  }
.master_tiendas{
    width: 100%;
    max-width: 100%;
    max-height: calc(100% - 170px);
    height: calc(100% - 170px);  
   padding-top: 16px;
   overflow: auto;
  }
.master_tiendas h2{
  font-family: 'Montserrat', sans-serif;
  }

    
  .contenido{
    width: 100%;
    max-width: 100%;
   
    cursor: pointer;
    display: grid;
    gap: 1rem;
    /* grid-auto-rows: 22rem; */
    grid-template-columns: repeat(auto-fill,minmax(15rem,1fr));
  }
    
  .contenido_tiendas{
    padding: 0px 6px;
    cursor: pointer;
    max-width: 100%;
   
  
    display: grid;
    gap: 1rem;
    /* grid-auto-rows: 22rem; */
    grid-template-columns: repeat(auto-fill,minmax(20rem,1fr));
  }

  .mas_categorias{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.3);
    color: #fff;
    height: 76px;
    width: 100%;
    border-radius: 6px;
    box-shadow: rgb(50 50 93 / 25%) 0px 50px 100px -20px, rgb(0 0 0 / 30%) 0px 30px 60px -30px, rgb(10 37 64 / 35%) 0px -2px 6px 0px inset;
  }
.mas_categorias h2{
  margin-bottom: 0px;
  font-size: 18px;
}
  @media (max-width: 575.98px) {
    .contenido_tiendas{
      padding: 0px !important;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }