.main{
    width: 70%;
    max-width: 70%;
    max-height: 100%;
    overflow: auto;
    padding: 0px 16px;
}

.master h2{
  font-family: 'Kaushan Script', cursive;
}
.master{
    width: 100%;
    max-width: 100%;
    max-height: calc(100% - 72px);
    height: calc(100% - 72px);  
   padding-top: 16px;
   overflow: auto;
  }
.master_tiendas{
    width: 100%;
    max-width: 100%;
    max-height: calc(100% - 170px);
    height: calc(100% - 170px);  
   padding-top: 16px;
   overflow: auto;
  }
.master_tiendas h2{
  font-family: 'Kaushan Script', cursive;
  }

    
  .contenido{
    width: 100%;
    max-width: 100%;
   
  
    display: grid;
    gap: 1rem;
    /* grid-auto-rows: 22rem; */
    grid-template-columns: repeat(auto-fill,minmax(15rem,1fr));
  }
    
  .contenido_tiendas{
    padding: 0px 6px;
    max-width: 100%;
   
  
    display: grid;
    gap: 1rem;
    /* grid-auto-rows: 22rem; */
    grid-template-columns: repeat(auto-fill,minmax(20rem,1fr));
  }

  @media (max-width: 575.98px) {
    .contenido_tiendas{
      padding: 0px !important;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }