



@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bad+Script&display=swap');

@media (max-width: 575.98px) {
  .block{
    width: 95% !important;
  }
}
.container_tienda {
  position: relative;
  margin: auto;
  overflow: hidden;
  width: 100%;
  height: 250px;
  
  border-radius: 6px;
  cursor: pointer;
}

.redes_sociales_tienda{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 16px;
}
.redes_sociales_tienda img{
  width: 40px;

  margin-bottom:8px ;
}

.block {
  position: relative;
  
  width: 100%;
  height: 250px;
  border-radius: 1px;
  background: linear-gradient(0deg, #000, #272727);
}

.block:before, .block:after {
  content: '';
  position: absolute;
  left: -2px;
  top: -2px;
  background: linear-gradient(10deg, #fb0094, #0000ff, #00ff00,#ffff00, #ff0000, #fb0094, 
    #0000ff, #00ff00,#ffff00, #ff0000);
  background-size: 400%;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  z-index: -1;
  animation: steam 20s linear infinite;
}

@keyframes steam {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.block:after {
  filter: blur(50px);
}




.container_tienda:hover .icono_navegar{
  display: flex;
}


.imagen_container{
  position: relative;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
}

.redes_sociales_tienda{
  position: absolute;
  width: 56px;
  right: 0;
  height: 100%;
  background-color: #212F3C;
}
.redes_description_tienda{
  position: absolute;
  width: 100%;
  display: flex;
  overflow: hidden;
  bottom: 0;
  left: 0;
  right: 0;
  height: 56px;
  margin-right: 56px;
  background-color: #212F3C;
  font-family: 'Bad Script', cursive;

}

.redes_description_tienda p{
  padding: 12px;
  overflow: hidden;
  color: white;
  height: 24px;

}

.icono_navegar{
  position: absolute;
  width: 100%;
  height: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  background: #D7DBDD;  /* fallback for old browsers */


}

