
  @media (max-width: 575.98px) {
    .textos_principal{
      padding: 6px;
    }
    .textos_principal h1{
     font-size: 18px !important;
  
  }
  .textos_principal p{
    font-size: 1rem !important;
    line-height: 1.2;
}

.box{
  width: 75% !important;
  margin-bottom: 24px;
}

.imagen_principal{
  display: none !important;
}

.textos_principal{
  width:  100% !important;
  height: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
}
  }



.card_principal{
  position: relative;
  overflow: hidden;
  z-index: 9999;
}

.imagen_principal{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    z-index: 9999;
    padding: 12px;
}

.textos_principal h1{
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 6px;

}
.textos_principal{
    display: flex;
    flex-direction: column;
    width: 60%;
    padding: 12px;
    z-index: 9999;
    color: white;
}
.textos_principal p{
    font-size: 1.5rem;
}

.container_principal_card{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:36px;
    margin-bottom: 48px;
    padding: 0px 12px;
    
}


.box{
    border-radius: 6px;
    width: 80% ;
    height: 200px;
    display: flex;
    position: relative;
    background-color: #0e0b19;
    
  }
  .box:after, .box:before{
    mix-blend-mode:multiply;
    filter:none;
    content:'';
    z-index: 1;
    width:calc(100% + (50px * 2));
    height:calc(100% + (50px * 2));
    position: absolute;
    background: #fff;
    display: block;
    animation: border 20s ease-in-out infinite;
    transform:translateX(-50px) translateY(-50px);
  }
  @keyframes border {
    0%, 100% {
      -webkit-clip-path: polygon(0 0, calc(100% - (33.3333333333px)) calc(0% + (33.3333333333px)), 100% 100%, calc(0% + (33.3333333333px)) calc(100% - (33.3333333333px)));
              clip-path: polygon(0 0, calc(100% - (33.3333333333px)) calc(0% + (33.3333333333px)), 100% 100%, calc(0% + (33.3333333333px)) calc(100% - (33.3333333333px)));
    }
    50% {
      -webkit-clip-path: polygon(calc(0% + (33.3333333333px)) calc(0% + (33.3333333333px)), 100% 0, calc(100% - (33.3333333333px)) calc(100% - (33.3333333333px)), 0 100%);
              clip-path: polygon(calc(0% + (33.3333333333px)) calc(0% + (33.3333333333px)), 100% 0, calc(100% - (33.3333333333px)) calc(100% - (33.3333333333px)), 0 100%);
    }
  }
  
  .box:after{
    animation-delay: 5s;
    border-radius: 6px;
    background-color: #93e1d8;
    clip-path: polygon(0 0, calc(100% - (33.3333333333px)) calc(0% + (33.3333333333px)), 100% 100%, calc(0% + (33.3333333333px)) calc(100% - (33.3333333333px)));
  }
  .box:before {
    background-color: #00c0f6;
    border-radius: 6px;
      clip-path: polygon(calc(0% + (33.3333333333px)) calc(0% + (33.3333333333px)), 100% 0, calc(100% - (33.3333333333px)) calc(100% - (33.3333333333px)), 0 100%);
  }
  
  .box:hover:after{
    animation-delay: -0.1s;
  }
  .box:hover:before, .box:hover:after {
  
            animation-duration: 10s;
  }


  